[submodule "xslt-util"]
	path = xslt-util
	url = https://github.com/transpect/xslt-util
[submodule "xproc-util"]
	path = xproc-util
	url = https://github.com/transpect/xproc-util
[submodule "calabash"]
	path = calabash
	url = https://github.com/transpect/calabash-frontend
[submodule "schema-html"]
	path = schema-html
	url = https://github.com/transpect/schema-html
[submodule "css-tools"]
	path = css-tools
	url = https://github.com/transpect/css-tools
[submodule "htmlreports"]
	path = htmlreports
	url = https://github.com/transpect/htmlreports
